@model IEnumerable<SGA.Models.Estudiante>

@{
    ViewBag.Title = "Estudiantes";
}

<h2>Estudiantes</h2>

<p>
    @Html.ActionLink("Crear  Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </th>
   <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneracionId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            <img src="~/Imagenes/Documento/@Url.Content(item.Identificacion)" height="50" width="50" alt="No hay foto" />

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
                    @if (item.Estado)
                        { <p>Si</p> }
                    else
                    { <p>No</p> }        
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneracionId)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
            @Html.ActionLink("Matriculas","Create" ,"Matricula",new { Estudianteid = item.Id },null) |
            @Html.ActionLink("Deshabilitar", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

@using (Html.BeginForm("insertarEstudiantescsv", "Estudiante", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<div class="form-group">
    <input type="file" id="dataFile" name="upload" />
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Importar csv" class="btn btn-default" />
    </div>
</div>
}