@model IEnumerable<SGA.Models.Estudiante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
@using (Html.BeginForm()) {
<p>
    Buscar por nombre:@Html.TextBox("buscado")
    <input type="submit" value="Buscar">
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nombre", "Index", new { ordenarPor= ViewBag.NombreParametroOrdenamiento})
        </th>
        <th>
            @Html.ActionLink("Apellidos", "Index", new { ordenarPor = ViewBag.ApellidosParametroOrdenamiento })
        </th>
        <th>
            @Html.ActionLink("Fecha Matricula","Index",new {ordenarPor= ViewBag.FechaParametroOrdenamiento })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.diaMatricula)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
