@model SGA.Models.Tutor

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Tutor<br> Carnet: @Html.DisplayFor(model => model.Id)</h4>
    <hr />
    <div class="table-responsive">
        <table>
            <tr>
                <td><img src="~/Imagenes/Perfil/@Url.Content(Model.Fotografia)" height="115" witdh="115" alt="No hay foto" /></td>
                <td>
                    <table class="table-bordered">
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Nombre): </td>
                            <td>@Html.DisplayFor(model => model.Nombre)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Apellidos): </td>
                            <td>@Html.DisplayFor(model => model.Apellidos)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Identificacion): </td>
                            <td><img src="~/Imagenes/Documento/@Url.Content(Model.Identificacion)" height="67" witdh="67" alt="No hay foto" /></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table-bordered">
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Pais): </td>
                            <td>@Html.DisplayFor(model => model.Pais)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Direccion): </td>
                            <td>@Html.DisplayFor(model => model.Direccion)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Sexo):</td>
                            <td>@ViewBag.sexo</td>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Profesion): </td>
                            <td>@Html.DisplayFor(model => model.Profesion) </td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Institucion): </td>
                            <td>@Html.DisplayFor(model => model.Institucion)</td>
                        </tr>
                    </table>
                </td>

                <td>
                    <table class="table-bordered">
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Telefono): </td>
                            <td>@Html.DisplayFor(model => model.Telefono)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Correo): </td>
                            <td>@Html.DisplayFor(model => model.Correo)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.CorreoAlternativo): </td>
                            <td>@Html.DisplayFor(model => model.CorreoAlternativo)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.FechaRegistro): </td>
                            <td>@Html.DisplayFor(model => model.FechaRegistro)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Estado): </td>
                            <td>@ViewBag.activo</td>
                        </tr>
                    </table>
                </td>               
            </tr>
        </table>
    </div>
</div><p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver Atrás", null, null, null, new { href = Request.UrlReferrer })
</p>
