@model SGA.ViewModels.DatosIndexTutor
@{
    ViewBag.Title = "Tutores";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr><th>Código</th>
        <th>Nombre </th>
        <th>Apellidos</th>
        <th>Identificación</th>
        <th>Correo</th>
        <th>Fecha Registro</th>
        <th>Activo</th>
        <th></th>
    </tr>

@foreach (var item in Model.Tutores) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Identificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
