@model SGA.Models.Factura

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
        @Html.TextBoxFor(model => model.Fecha, "{0:dd-MM-yyyy}", new {
       style = "outline: none; border: none; ", @readonly = true })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comprobante)
        </dt>

        <dd>
            <img src="~/Imagenes/Comprobante/@Url.Content(Model.Comprobante)" height="50" width="50" alt="No hay foto" />
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @{
                var estado = Model.estado ? "Cancelado" : "Sin Cancelar";
            }
            @estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalCancelado)
        </dt>

        <dd>
           $ @Html.DisplayFor(model => model.TotalCancelado)
        </dd>
        <dt>
            Cuenta Total:
        </dt>
        <dd>
          $ @ViewBag.totalPagar
        </dd>
        <dt>
            Deuda:
        </dt>
        <dd>
            $ @ViewBag.Deuda
        <dd>
</dl>
</div>

<div>
    <h2>Detalles: </h2>
    @if (@ViewBag.Detalles == null)
            {
        <p>No hay detalles</p>
    }
    else
    {
        <div class="col-md-offset-2 col-md-10">
            <table>
                <tr>
                    @{
                        int cnt = 0;

                        foreach (var estuianteFactura in Model.Detalles)
                        {
                            if (cnt++ % 3 == 0)
                            {
                                @: </tr><tr>
                                      }
                            @:<td>
                                <table>
                                    <tr><td><b>@estuianteFactura.Estudiante.Nombre</b></td></tr>
                                    @foreach (var titulo in estuianteFactura.Titulos)
                                    {
                                        <tr><td>@titulo.Id</td><td>@titulo.Nombre</td><td>$ @titulo.Precio</td></tr>


                                    }
                                    <tr>
                                        <td>Total @estuianteFactura.Estudiante.Nombre:      $ @estuianteFactura.Titulos.Select(t => t.Precio).Sum() </td>
                                    </tr>
                                </table>
                                        @:</td>
                                         @:</tr>
                            }
                    }
                </table>
            </div>
                        }

</div>



<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver Atrás", null, null, null, new { href = Request.UrlReferrer })
</p>
