@model SGA.ViewModels.CursoNota

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Matricular</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label( "Curso: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CursoID", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Estudiante: ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EstudianteID", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<h3>Matriculas Realizadas</h3>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Curso
        </th>
        <th>
            Nombre
        </th>
        <th>
            Fecha Matricula
        </th>
        <th>
            Nota

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Matriculas)//.Zip(Model.Notas, (a, b) => new { matricula = a, nota = b }))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.TituloId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Titulo.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFinal)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
                @Html.ActionLink("Deshabilitar", "Delete", new { id = item.ID })
            </td>
        </tr>
    }


</table>

<h3>Puede Graduarse:</h3>
<div>@ViewBag.PuedeGraduarse</div>

<h3>Puede hacer Proyecto Final</h3>
<div>@ViewBag.PuedeProyecto</div>


    @Html.ActionLink("Volver Atrás", null, null, null, new { href = Request.UrlReferrer })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
