@model SGA.Models.Matricula

@{
    ViewBag.Title = "Deshabilitar";
}
<script src="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.js"></script>
<link rel="stylesheet" type="text/css" href="http://tristanedwards.me/u/SweetAlert//lib/sweet-alert.css">
@if (null != TempData["mensajeError"])
{
    <script type="text/javascript">
    swal({
        title:'PROMiDAT',
        text: '@TempData["mensajeError"]',
        type: "warning",
        confirmButtonText: "Ok!",
        html: true
    })
    </script>   
    TempData["mensajeError"] = null;
}
else
{
    if (null != TempData["mensaje"])
    {
        <script type="text/javascript">
    swal({
        title:'PROMiDAT',
        text: '@TempData["mensaje"]',
        type: "success",
        confirmButtonText: "Ok!",
        html: true
    })
        </script>
        TempData["mensaje"] = null;

    }
}
<h2>Deshabilitar</h2>

<h3>¿Está seguro de deshabilitarla?</h3>
<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.TituloId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.TituloId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaMatricula)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.DiaMatricula, "{0:dd-MM-yyyy}", new{
                    style = "outline: none; border: none; ",@readonly = true})
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deshabilitar" class="btn btn-default" /> |
            @Html.ActionLink("Volver Atrás", null, null, null, new { href = Request.UrlReferrer })
        </div>
    }
</div>
