@model SGA.Models.Matricula

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Curso: ")
        </dt>
     
        <dd>
            @Html.Label("#"+Model.Curso.Id + " "+ Model.Curso.Titulo.Id+" "+ Model.Curso.Titulo.Nombre)
        </dd>

        <dt>
            @Html.Label("Carnet: ")
        </dt>

        <dd>
            @Html.Label(Model.Estudiante.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Nombre)
        </dt>

        <dd>
            @Html.Label(Model.Estudiante.Nombre + " "+ Model.Estudiante.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaMatricula)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.DiaMatricula, "{0:dd-MM-yyyy}", new{
                style = "outline: none; border: none; ",@readonly = true})        
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Volver Atrás", null, null, null, new { href = Request.UrlReferrer })


</p>
<div class="table-responsive">
    <h4>Calificaciones:</h4>
    <table class="table, table-bordered">
        <tr>
            @foreach (var item in Model.Calificaciones)
            {
                <th>
                    @Html.DisplayFor(modelItem=>item.Tipo)
                </th>
            }
            <th>@Html.Label("Nota Final", htmlAttributes: new { @class = "control-label col-md-2" })</th>
        </tr>
        <tr>
            @foreach (var item in Model.Calificaciones)
            {

                <td>
                    @Html.Label(item.Valor.ToString(), new { htmlAttributes = new { @class = "form-control" } })
                </td>
            }
            <td>
                @Html.Label(Model.NotaFinal.ToString(), new { htmlAttributes = new { @class = "form-control" } })
            </td>
        </tr>
    </table>
</div>