@model SGA.Models.Matricula

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.TituloId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.TituloId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaMatricula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Volver Atrás", null, null, null, new { href = Request.UrlReferrer })


</p>
