@model SGA.Models.Matricula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso.TituloId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.TituloId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudiante.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudiante.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diaMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diaMatricula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
