@model SGA.ViewModels.CursoNota

@{
    ViewBag.Title = "Matriculas";
}

<h2>Matriculas</h2>

<p>
    @Html.ActionLink("Crear Nueva", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Código
        </th>
        <th>
           Curso
        </th>
        <th>
           Nombre
        </th>
        <th>
           Fecha Matricula
        </th>
        <th>
           Nota

        </th>
        <th></th>
    </tr>
   
    @foreach (var item in Model.Matriculas.Zip(Model.Notas, (a,b) => new {matricula = a, nota = b}))
    {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.matricula.Curso.TituloId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matricula.Curso.Titulo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matricula.Estudiante.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.matricula.DiaMatricula)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.nota)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.matricula.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.matricula.ID }) |
            @Html.ActionLink("Deshabilitar", "Delete", new { id = item.matricula.ID })
        </td>
    </tr>
    }
     

</table>
