@model SGA.Models.Curso

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Curso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Generación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Generacion.Id)
        </dd>

        <dt>
              Título
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.TextBoxFor(model => model.FechaInicio, "{0:dd-MM-yyyy}", new{
                style = "outline: none; border: none; ",@readonly = true})
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>

        <dd>
        @Html.TextBoxFor(model => model.FechaFinal, "{0:dd-MM-yyyy}", new{
                  style = "outline: none; border: none; ",@readonly = true})
                </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadEvaluaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadEvaluaciones)
        </dd>

        <dt>
           Estado: 
        </dt>

        <dd>
           @ViewBag.Estado
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver Atrás", null, null, null, new { href = Request.UrlReferrer })
</p>
<h3>Matriculas Realizadas</h3>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Curso
        </th>
        <th>
            Nombre
        </th>
        <th>
            Fecha Matricula
        </th>
        <th>
            Nota

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Matriculas)//.Zip(Model.Notas, (a, b) => new { matricula = a, nota = b }))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.TituloId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.Titulo.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFinal)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", "Matricula", new { id = item.ID },null) |
                @Html.ActionLink("Detalles", "Details", "Matricula", new { id = item.ID },null ) |
                @Html.ActionLink("Deshabilitar", "Delete","Matricula", new { id = item.ID },null)
            </td>
        </tr>
    }


</table>