@model SGA.Models.Titulo

@{
    ViewBag.Title = "Deshabilitar";
}

<h2>Deshabilitar</h2>

<h3>¿Está seguro de deshabilitarlo?</h3>
<div>
    <h4>Titulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img src="~/Imagenes/Perfil/@Url.Content(Model.Foto)" height="50" width="50" alt="No hay foto" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deshabilitar" class="btn btn-default" /> |
            @Html.ActionLink("Volver Atrás", null, null, null, new { href = Request.UrlReferrer })
        </div>
    }
</div>
